{% extends parent_template|default:"pages/base_pages.html" %}
{% block nav-education %}
class="current"
{% endblock %}
{% block body_block %}
{% load static %}
<!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>  
                    
                        <img src="{% static 'academy_website/football-academy-education-courses-10.jpg' %}">    
 
                     <div class="primary-content">
 
                         <h1 id="color" class="entry-title add-bottom">AS AND A LEVEL BUSINESS STUDIES</h1><hr>
                        <p>
                            Alpha Football Academy are able to offer players the opportunity to take an AS and A Level Business Studies qualification 
                            to support their BTEC Level 3 Extended Diploma in Sports Studies course. The AS and A Level in Business Studies 
                            qualification is awarded through the AQA Examinations Board.<br>
                            Additional costs are required for students wishing to study either AS or A Level Business Studies through the Alpha academy 
                            or other AS/A Levels through the NEC College. Further information is available on request.

                        </p>
                        <h2 id="colorred">COURSE INFORMATION</h2>
                        <h3>About the courses</h3>
                        <p>
                            The Business Studies syllabus enables learners to understand and appreciate the nature and scope of business and the 
                            role it plays in society. The syllabus covers economic enviromental, ethical, govermental, legal, social and technological issues,
                             and encourages a critical understanding of organisatiobns, the markets they serve and the process of adding value.<br>
                             Learners examine the management of organisations and, in particular, the process of decision-making in a dynamic external 
                             enviroment.<br>
                             The Business Studies AS Level and A Level will be tutored a minimum one evening a week, with additional work set, at 
                             the Alpha Football Academy study centre. The players will study towards the AS Level Business Studies exam and on succesful 
                             completion of this, will then progress towards the full A level.<br>
                             All players wishing to take the AS and A Level Business Study course would be subject to an assessment and selection process, 
                             taking into consideration previous examinations grades.
                        </p>
                        <h2 id="colorred">AS and A Levels Through Distance Learning</h2>
                        <p>
                            Through the National Extension College, the Academy can offer the opportunity to take alternative AS and A level qualifications.
                             The NEC have been supporting learning for 50 years for both UK based and overseas students, who will register and study directly 
                             with the NEC via online/distance basis, with Alpha Football Academy staff also on hand to help and offer guidance.<br>
                             There are 20 NEC A Level courses to choose from, so whatever your needs or interest , there will be something to suit you. 
                             You can study towards either an AS or A level, and whilst some courses will require you to have studied GCSE's or equivalent 
                             before enrolment, other subjects do not require prior knowledge.<br>
                             A dedicated personal tutor will be allocated to you for each course you study. Each of the NEC tutors is an expert in the subject 
                             they teach and will be responsible for marking your work and providing support and feedback during your time studying. Tutors 
                             can be contacted by telephone, email or post; after you enrol, your tutor will send you a welcome letter recommending the best 
                             way for you to get in touch.<br>
                             As well as your personal tutor, you will be given a course coordinator who can be contacted by email or telephone.
                        </p>

                        <h2 id="colorred">Assessment</h2>
                        <p>
                            All AS and A Level courses require you to sit an exam at the end of your course and some involve assessed coursework that will 
                            be built up during the time you spend studying the course. If you wish to sit an exam at the end of your course you will need to 
                            arrange an exam centre.<br>
                            Exams take place predominantly in June/July of each year, with each student needing to register as a private candidate and pay 
                            exam fees to the exam centre.
                        </p>

                        <h2 id="colorred">International Students</h2>
                        <p>
                            Students who live outside of the UK are welcome to enrol on an A Level, but if the course leads to an exam that you intend to take, 
                            you would need to check before you enrol to find out where you can sit the exam and how much it will cost.
                        </p>

                 </section>
            
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->		
    </section> <!-- end content -->
{% endblock %}