{% extends parent_template|default:"pages/base_pages.html" %}
{% block nav-education %}
class="current"
{% endblock %}
{% block body_block %}
{% load static %}
<!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>
                    
                    <img src="{% static 'academy_website/football-academy-education-courses-7.jpg' %}">
 
                        
 
                     <div class="primary-content">
 
                         <h1 id="color" class="entry-title add-bottom">BLENDED LEARNING SPORTS DEGREE</h1><hr>	
                        <p>
                            In association with the world renowned centre for sporting excellence, Loughborough College, the Alpha Football Academy 
                            offers the opportunity to study either a BA(Hons) Sport Management or BSc Sport Coaching degree via blended learning.<br>
                            Blended learning provides the perfect combination of online/distance learnibg and contact day attendance, enabling 
                            students to perfectly balance their studies alongside the academy's football development programme.<br>
                            Alpha Football Academy can now offer the degree courses to full-time students who start with us in January of each year, 
                            as well as September. The degrees are both validated by Nottingham Trent University. 

                        </p>
                        <h2 id="colorred">COURSE INFORMATION</h2>
                        <p>
                            With renowned provision for high quality teaching, your learning will include online lectures, seminars and activities, as 
                            well as independent study.<br>
                            Assessment include a range of essays, projects, presentation and reports. Such diversity will allow you to experience 
                            various modes of academic and professional practise, developing your abilities and refining your skills in preparation 
                            for your next steps.<br>
                            With an excellent support system in place, academic tutors will work closely with you throughout the duration of your 
                            programme, supporting your development and tracking your academic progress, to ensure that you achieve your personal best.
                        </p>
                        <h2 id="colorred">BA (Hons) Sports Management (Blended Learning)</h2>
                        <p>
                            The programme provides opportunities to develop your management skills. You will cultivate a knowledge and understanding of 
                            operations, finance, human resources, leadership qualities, which will be applied to sports facilities and events.<br>
                            You will put your theory into practice through applied studies and assessments. The Sports specific modules include Sports 
                            Development and Physical Activity, Lifestyle, and Wellbeing.
                        </p>
                        
                        <h2 id="colorred">Modules</h2>
                        <div class="module">
                            <h2>Year 1</h2>
                            <p>Customer care in the Sport Industry</p>
                            <p>introduction to the sport Industry</p>
                            <p>Physical Activity and Health Promotion</p>
                            <p>Industrial Work Placement/CPD</p>
                            <P>Marketing Management in the Sport Industry</P>
                            <p>Leadership in the Sport Industry</p>
                        </div>
                        <div class="module">
                            <h2>Year 2</h2>
                            <p>Research Project</p>
                            <p>Human Resource Management in the Sport Industry</p>
                            <p>Managing in the Health and Fitnrss Industry</p>
                            <p>Financial Management in the Sport Industry</p>
                            <p>Event Management in the Sport Industry</p>
                            <p>Managing Sports Development</p>
                        </div>

                        <div class="module">
                            <h3>Year 3</h3>
                            <p>Research Proposal</p>
                            <p>Research Project</p>
                            <p>Strategic Management in the Sport Industry</p>
                            <p>Sport Development</p>
                            <p>Global Sport Marketing</p>
                            <p>International Business of Sport</p>
                        </div>

                        <h2 id="colorred">Progression Opportunities</h2>
                        <p>
                            Following this programme, many successful students have gained employment in sport and leisure management. 
                            Alternatively, you may progress on to postgraduate studies at Masters level.
                        </p>

                        <h2 id="colorred">BSc Sport Coaching (Blended Learning)</h2>
                        <p>
                            The programme provides opportunities to develop your teaching and coaching skills. You will cultivate a 
                            knowledge of the disciplines underpinning effective sports coaching and performance for different ages and 
                            abilities.<br>
                            You will put your theory into practice through applied studies, placements and assessments.
                        </p>
                        <h2 id="colorred">Modules</h2>
                        <div class="module">
                            <h2>Year 1</h2>
                            <p>Applied Coaching Theory</p>
                            <p>Coaching Practice and Placement</p>
                            <p>Understanding Research</p>
                            <p>Technical and Biomechanical Analysis of Sport</p>
                            <p>Physiology of Fitness Training for Coaching</p>
                            <p>Principle of Pedagogy and Physical Education</p>
                        </div>

                        <div class="module">
                            <h2>Year 2</h2>
                            <p>Athlete Welfare and Safeguarding</p>
                            <p>Psychology for coaches</p>
                            <p>Leadership in the Sport Industry</p>
                            <p>Work Based Experience and Project</p>
                            <p>Foundation of Effective Practice</p>
                        </div>

                        <div class="module">
                            <h2>Year 3</h2>
                            <p>Advanced Coaching Practice</p>
                            <p>Teaching Strategy: Pedagogy in Practice</p>
                            <p>Tactical Analysis of Sport</p>
                            <p>Managing Sports Development</p>
                            <p>Research Project</p>
                        </div>

                        <h2 id="colorred">Progression Opportunities</h2>
                        <p>
                            Following this programme, many succesful students have applied to PGCE programmes to pursue a career teaching, 
                            with others gaining employment in international coaching, local authority coaching, professional clibs and National 
                            Governing Body programmes. Students can also progress on to postgraduate study.
                        </p>

                        <h2 id="colorred">Entry Requirements</h2>
                        <p>
                            72 UCAS points, including GCSE English and Maths (level 4 or above)
                        </p>
                    </section>
            
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->		
    </section> <!-- end content -->
{% endblock %}