{% extends parent_template|default:"pages/base_pages.html" %}
{% block nav-education %}
class="current"
{% endblock %}
{% block body_block %}
{% load static %}
<!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>  
 
                        <img src="{% static 'academy_website/football-academy-education-courses-8.jpg' %}">
 
                     <div class="primary-content">
 
                         <h1 id="color" class="entry-title add-bottom">ENGLISH LANGUAGE FOOTBALL PROGRAMME</h1><hr>	
                        <p>
                            ALPHA Football Academy has linked up with Stamford Academy, a specialist English Language centre, to offer 
                            a General English course for players seeking to improve their English Language skills whilst studying towards an 
                            internationally-recognised Cambridge ESOL English Language exam.<br>
                            Stamford Academy's teaching is accredited by the British Council and the academy itself is certified as a Cambridge 
                            ESOL exam preparation centre. The course is designed to focus on developing the four key language skills: 
                            Reading, Writing, Speaking, Listening.

                        </p>
                        <h2 id="colorred">COURSE INFORMATION</h2>
                        <h3>About the Course</h3>
                        <p>
                            Before players begin the course students will sit an online Oxford University Press English Language test to determine 
                            their level of English and to help the academy's teachers prepare and plan a suitable programme of study for each 
                            individual student.<br>
                            The course has two main aims. The first is to provide a balanced programme of study, placing emphasis on traditional 
                            areas of learning such as grammar and pronunciation, whilst also focusing on contemporary practical English which 
                            students in the UK will regularly encounter outside of the classroom.<br>
                            The second is to help prepare players to sit one of four main English language exams provided by Cambridge ESOL -Key 
                            English Test (KET), Preliminary English Test (PET), Cambridge First (FCE) and Cambridge Advanced (CAE).<br>
                            The course uses materials from a wide range of sources to keep the teaching interesting and varied. As part of 
                            their studies, players are provided with a course CD-ROM appropriate to their level of English. This course book is for 
                            the students to keep and helps to provide a useful, structured resource for learning both independently and inside 
                            classroom.<br>
                            Small class sizes are essential to optimising learning on an English language course. With this in mind, class sixes for 
                            the General English courses are currently capped at 18 students -so early registration is recommended.
                        </p>
                        <h2 id="colorred">Which class is right for me?</h2>
                        <p>
                            There are a range of class levels for students attending the 15-hour General English course, from Elementary through to 
                            Advanced.<br>
                            Lessons will take place during the same time as other Alpha students are studying the BTEC Sports Course as well 
                            as some additional sessions during an evening or weekend.<br>
                            There will be 5 lessons per week. Each lesson will be 3 hours in total with a 30 minute break.<br>
                            Students on the course are given a short placement test and an informal interview to assess their level of English 
                            before being placed into the appropriate class.
                        </p>
                        
                        <h2 id="colorred">Whic exam will i sit and where is it recognised?</h2>
                        <p>
                            Students will be regularly tested in class to monitor their progress. The academy's teachers will take class performance 
                            and test scores into accpunt before advising each student which exam is appropriate for them to study towards before the 
                            end of their course.<br>
                            Cambridge ESOL provides the world's leading English Language qualifications. Cambridge exams are officially accepted by 
                            thousands of universities, employers and governments globally. They can open doors to higher education, improve job prospects 
                            and, due to the internationally recognised status of Cambridge ESOL exams, international mobility is increased.
                        </p>
                 </section>
            
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->		
    </section> <!-- end content -->
{% endblock %}