{% extends parent_template|default:"pages/base_pages.html" %}
{% block nav-faq %}
class="current"
{% endblock %}
{% block body_block %}
{% load static %}
<!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>  
 
                        
 
                     <div class="primary-content">
 
                         <h1 id="color" class="entry-title add-bottom">FREQUENTLY ASKED QUESTIONS</h1>
                         
                         <h1 id="colorred">General Questions</h1>
                    <div class="accordion-container">
                         <h3 class="question" id="color">What are high performance Academy?</h3>
                         <div class="answer">
                         <p>
                             High performance academies are <strong>boarding schools for footballers who have
                                 the potential to play professionally
                             </strong>.They combineThey combine an intensive professional soccer player training 
                             program with a secondary or university education so that students have the opportunity to 
                             train at a professional level while they complete their secondary education or work toward 
                             earning university degrees.<br>
                             High performance academies are characterized as academic institutions where talented young 
                             footballers can live, train, and study during academic year while receiving personalized, 
                             unbiased advice and guidance about their best options for playing professionally.
                         </p>
                         </div>

                         <h3 class="question" id="color">Why attend the high performance Academy in Stamford, England?</h3>
                         <div class="answer">
                         <p>
                             The high performance football academy in England offers professional level football training and 
                             has access and connections to coaches and official football clubs in Europe and around the world. 
                             And, the academy offers a wide range of educational options for English studentd and international 
                             students alike.<br>
                             Both English ans international students can take advantage of the sports-related vocational 
                             courses(BTEC Level 3 course in Sport) offered at the the academy while learning about their options 
                             to play soccer professionally in Europe. The soccer academy also offers university courses through 
                             loughborough College where students can study a three-year BA Sports Management or a BS in Sports 
                             Coaching.
                         </p>
                         </div>
                    
                         <h3 class="question" id="color">What do students learn in the Academy?</h3>
                         <div class="answer">
                         <p>
                            Attending an academy is a unique and very enriching experience. The programme is focused around 
                            football where the students learn new skills or improve their technique. However, these programmes go 
                            far beyond simply taking a part in sport. The young people learn to be independent, they learn about 
                            decision making, discipline and sharing with others, working as a team and a lot of other important values 
                            besides. student take part in language study. Student come from a wide range of countries and so the young 
                            people have the chance to make friends and practise their language skills with other boys and girls from 
                            many different cultures. In summary, attending Alpha Football Academy is an experience which benefits the 
                            young person in a much wider sense than simply improving their sporting skills and which will help them 
                            to mature and grow as people.
                         </p>
                         </div>

                         <h3 class="question" id="color">Can i send my child to the Alpha sport Academy during school year?</h3>
                         <div class="answer">
                         <p>
                             We offer football programme that combine normal academic study with intensive sports training. These programmes 
                             are designed for children who want to develop their sporting skills to a high level. In some cases there is 
                             skill levekl required to be able to participate (contact us for more information)
                         </p>
                         </div>



                         <h3 class="question" id="color">What ages of students are accepted into the Academy?</h3>
                         <div class="answer">
                         <p>The high performance academy in Stamford generally accepts students from 16 to 21 years old.</p>

                         <h3>Age 16 - 19</h3>
                         <p>Students from 16 to 19 years old can take the BTEC(Business and Technology Education Council) 
                             Level 3 course in Sport(Development, Training, and Physical Conditioning) or the AS and A level 
                             study courses to prepare for entrance to an English University or to prepare for sports-related professions.<br>
                             <p>*Students from 16-19 who have yet to complete their secondary education also have the opportunity to 
                                 continue studying at their original schools through distance online communication.
                             </p>
                         </p>
                         <h3>Age 19 - 21</h3>
                         <p>
                             For older students who have completed their secondary education, the academy offers the opportunity 
                             to attend Loughborough College and study BA in Sports Management or a BS in Sports Coaching.
                         </p>
                         </div>

                         <h3 class="question" id="color">How can I attend a soccer Academy in England if i'm not from England?</h3>
                         <div class="answer">
                         <p>
                             The high performance soccer academy in England promotes a flexible international learning enviroment 
                             which caters to linguistic and cultural differences. Some international students may need to apply for a 
                             student visa to attend the accademy, but applications are usually accepted.<br>
                             The soccer academy in England offers the perfect opportunity for international students who want to 
                             experience life abroad while working hard to reach their maximum potential on the soccer field.
                         </p>
                         </div>

                         <h3 class="question" id="color">What is a typical day like at the Academy?</h3>
                         <div class="answer">
                         <p>
                             From Monday to Friday, the students follow an organized timetable. The day is divided into three primary 
                             parts: classes, training, and rest. In some cases, students train in the morning and attend class in the 
                             afternoon; in other cases, students follow the opposite schedule with classes in the morning and training 
                             in the afternoon.<br>
                             Weekends are ussually dedicated to matches and/or tournaments and rest. On some weekends,the academies 
                             excursions so that students can explore the city where the academy is located and its surrounding areas.<br>
                             During free time, students have access to the academy's top-of-the-line facilities which include study rooms, 
                             game rooms, common rooms, gardens, etc.
                         </p>
                         </div>
                        <h1 id="colorred">Accomodation</h3>
                        <h3 class="question" id="color">Do players share room</h1>
                        <div class="answer">
                        <p>
                            Yes, our experienced staff ensures ages and cultures are considered with most rooms having two players. In nearly 
                            all circumstances room-mates become friends for life however if it isn't working out we can swap players around.
                        </p>
                        </div>

                        <h3 class="question" id="color">Is Wi-Fi available at the Garden House?</h1>
                        <div class="answer">
                        <p>
                            Yes, the boarding house offers free Wi-Fi.
                        </p>
                        </div>

                        <h3 class="question" id="color">Are there laundry facilities</h1>
                        <div class="answer">
                        <p>
                            Yes, a laundry room with washing machines, tumble dryers, irons and ironing boards along with washing powder/
                            conditioner will all be provided, and a member of staff will be on hand to advise.<br>
                            Laundry for all football and training kits, as well as bed linen, will be done by the Academy.
                        </p>
                        </div>
                        <h3 class="question" id="color">Is accommodation included?</h1>
                        <div class="answer">
                        <p>
                            Yes, players will stay at their own exclusive boarding house - the <a href="{% url 'accommodation' %}">Garden House in Stamford</a>.<br>
                            The Boarding House is in safe and secure surroundings and includes 22 bedrooms all with en-suite facilities, dining room, 
                            communal rooms, games room, study centre, conservatory and nearly an acre of walled gardens.
                        </p>
                        </div>

                        <h3 class="question" id="color">When does the Full-Time course commence?</h3>
                        <div class="answer">
                        <p>
                            The Alpha Football Academy has two intakes during the season, for players to begin the two year BTEC qualification. These 
                            are in September and February.
                        </p>
                        </div>
                        <h3 class="question" id="color">How long is the Full Course</h3>
                        <div class="answer">
                        <p>
                            To gain the full BTEC qualification, the course takes two years to complete. Each academic year is 33 weeks with players returning 
                            home for Christmas, Easter and Summer breaks.
                        </p>
                        </div>
                        <h3 class="question" id="color">Can i attend the Academy as a non-residential student?</h3>
                    <div class="answer">
                        <p>
                            Yes, the Alpha Football Academy has welcomed many day students to join the international students on the full-time football 
                        course whilst also studying a BTEC in Sports studies and/or A-levels.
                        </p>
                        </div>
                        <h3 class="question" id="color">Am I provided a training kit?</h3>
                        <div class="answer">
                        <p>
                            Yes, players will be issued a training kit, winter coat and a match day tracksuit for their stay. Players can purchase 
                            additional items from our Club Shop.
                        </p>
                        </div>
                        <h3 class="question" id="color">At the end of the course am i guaranteed to be offered a contract at a professional club?</h3>
                        <div class="answer">
                        <p>
                            Unfortunately, the Academy cannot guarantee that a player will find a club, as all clubs are seeking different types of players at 
                            different times and we all know how difficult it can be. However, we hvae had numerous succes stories of students signing professional 
                            contract upon graduation from the Academy.<br>
                            We will guarantee though you will leave us a better player and we will aim to open as many opportunities for you as possible.

                        </p>
                        </div>
                        <h3 class="question" id="color">Where is the Academy based?</h3>
                        <div class="answer">
                        <p>
                            The Alpha Football Academy is located in Stamford, Lincolnshire in the United Kingdom.<br>
                            The Garden House is situated close to Burghley Park and is just a few minutes stroll from the centre of historic Stamford. 
                            Stamford was voted the second best place to live in the 2017 Sunday Times poll.
                        </p>
                        </div>
                        <h3 class="question" id="color">What are the age limits?</h3>
                        <div class="answer">
                        <p>
                            The Full-time courses are available for players aged between 16-21 years of age.
                        </p>
                        </div>
                        <h1 id="colorred">FEES</h1>
                        <h3 class="question" id="color">How much does it cost to join?</h3>
                        <div class="answer">
                        <p>
                            <strong>UK/EU students:</strong> &pound;22,995
                            (BTEC Level 3) <strong>/</strong> &pound;28,995
                            (English Language) <strong>/</strong> &pound;29,995 (Degree Course)<br>


                            <strong>Internationaal students:</strong> &pound;27,995<br>
                            (BTEC Level 3) <strong>/</strong> &pound;28,995<br>
                            (English Language) <strong>/</strong> &pound;29,995 (Degree Course)<br>

                            <strong>Day students:</strong> &pound;8,995<br>
                            (BTEC Level 3) <strong>/</strong> &pound;14,995<br>
                            (English Language) <strong>/</strong> &pound;15,995 (Degree Course)
                        </p>
                        </div>

                        <h3 class="question" id="color">Can fees be paid in installments?</h3>
                        <div class="answer">
                        <p>
                            Yes, we have a payment plan spread over three installments. This can be discussed on being offered a place at the Academy.

                        </p>
                        </div>

                        <h1 id="colorred">During your stay</h1>
                        <h3 class="question" id="color">What if i have any dietry requirements?</h3>
                        <div class="answer">
                        <p>
                            As our food is freshly prepared onsite by our Head Chef, we can cater for all types of dietry requirements including vegetarian, 
                            halal, kosher and vegan to name a few. If you do have any requirements or food allergies, please make us aware when booking to ensure we pass 
                            this onto the Head Chef.
                        </p>
                        </div>
                        <h3 class="question" id="color">What if i have any religious requirements?</h3>
                        <div class="answer">
                        <p>
                            We have a diverse collection of players feom a wide variety of cultures. We cater for different cuisines i.e halal meat. The Academy will 
                            also ensure prayer rooms are available when required.<br>
                            We can also help assist in finding local churches, mosques etc
                        </p>
                        </div>
                        <h3 class="question" id="color">What othe welfare support is offered?</h3>
                        <div class="answer">
                        <p>
                            Our staff can also assist with setting up bank accounts, gym membership, passport and visa assistance, arranging IELTS tests and sitting exams.
                        </p>
                        </div>

                        <h3 class="question" id="color">What kit/equipment will i need to bring?</h3>
                        <div class="answer">
                        <p>
                            A full list of kit and equipment will be sent out in the confirmtion pack players receive once they have completed their booking. 
                            In general players will reuire:<br>
                            <h3>Training Kit</h3>
                            Studded boots &amp; Moulded boots.
                            Trainers suitable for indoor football or gym work<br>
                            Shin pads (must be worn at every training/match session)<br>
                            Wash kit in wash bag (incl. suitable sun screen etc)<br>
                            Large towels<br>
                            Small bag, suitable for a change of clothes and footwear.<br><br>
                            <h3>Casual Clothing</h3>
                            Please bring enough clean comfortable clothing for evenings, meals and entertainment, such as jeans, 
                            t-shirt/tops, trainers/shoes etc
                        </p>
                        </div>
                        <h3 class="question" id="color">Can i still attend if i have a had a previous injury?</h3>
                        <div class="answer">
                        <p>
                            Yes, all players will be required to complet a medical form when booking, where you will need to state any previous injuries or 
                            health concerns.
                        </p>
                        </div>
                        <h3 class="question" id="color">What if i am sick?</h3>
                        <div class="answer">
                        <p>
                            All full-time residential players are registered with a local NHS doctors and dental surgery.<br>
                            The boarding house also has first aid provisions, medical supplies, a defribrillator and all staff are first aid trained.

                        </p>
                        </div>

                        <h1 id="colorred">International Students</h1>

                        <h3 class="question" id="color">I'm from outside the UK, can i still attend the Academy on a Full-Time basis?</h3>
                        <div class="answer">
                        <p>
                            Yes, the Academy has many international students that join. Should you be offered a place, you would be required to obtain a tier 4 Student visa, 
                            which we will provide information for. Alpha are not able to help with any travel expenses incurred.
                        </p>
                        </div>

                        <h3 class="question" id="color">Are you able to help with my Tier 4 Student Visa application?</h3>
                        <div class="answer">
                        <p>
                            Most intrnational students will need to apply to the UK Home Office for a visa before coming to the UK and we can help you do this. with regards to 
                            a Tier 4 Students Visa application, our academic partner Loughborough College is a government-approved Tier 4 Sponsor, allowing us to offer courses at NQF Level 
                            3 and above to international students aged 16 years and over
                        </p>
                        </div>
                        <h3 class="question" id="color">What if my visa is refused by the embassy?</h3>
                        <div class="answer">
                        <p>
                            If your visa application is refused, you will be required to inform the Academy as soon as possible, and email us a scanned copy of all pages of your 
                            refusal Notice. We will then be able to advise you on the options available to you, in keeping with our terms and conditions.
                        </p>
                        </div>
                        <h3 class="question" id="color">Can i work whilst on a Tier 4 Student Visa?</h3>
                        <div class="answer">
                        <p>
                            There are limits on your working hours that depend on when you applied for permission to come to or stay in the UK, the type of course you study and what type 
                            of sponsor you are studying with. Please feel free to read through the Tier 4 Policy Guidance, which is available on the gov.uk website.
                        </p>
                        </div>
                        <h3 class="question" id="color">What is FIFA International clearance?</h3>
                        <div class="answer">
                        <p>
                            FIFA International Clearance applies to any player over the age of 10 who is seeking to register for a club in England and has previously been 
                            registered for a club abroad (including the other Home Associations), or who is a foreign national seeking to register for the first time in this country.<br>
                            If the player is under age of 18, they are subjected to the provisions of FIFA Article 19. International Clearance is applicable at all levels of the game.<br>
                            <u><h4>Extract of FIFA Article 19 Protection of minors Rule</h4></u>
                            International transfers of players are only permitted if the player is over the age of 18, unless one of the three exceptions apply:<br>
                            <ol>
                                <li>
                                    The player's parents move to the country in which the new club is located for reasons not linked to football.
                                </li>
                                <li>
                                    The transfer takes place within the territory of the EU or EEA and the player is between 16 to 18 years old. If this is the case, the clib must meet FIFA's 
                                    minimum obligations, which includes in England the club competing in the English Football League (which Alpha Stamford do not).
                                </li>
                                <li>
                                    The player lives no further than 50 km from the national border and the club is no further than 100 km away from the player's home.
                                </li>
                            </ol>

                            <u><h4>Work Permits</h4></u>
                            Non-EU citizens who have received International Clearance would still require a work permit visa under Tier 2 and/or Tier 5 to sign a contract with a club in 
                            England that compete at Premier League level down to Step 4 of non-league pyramid. A work permit is not required to play for a club from Step 5 of the non-league 
                            pyramid and below.<br>
                            In order to apply for a Governing Body Endorsement from the FA, an applicant club must hold a Sponsor's Licence under Tier 2 and/or Tier 5 of the PBS and thereby be eligible 
                            to assign Certificates of Sponsorship. To be eligible to become a Sponsor and assign Certificates of Sponsorship, a club must be a member of the Premier League or The 
                            Football League.<br>
                            The FA PBS criteria is due to be updated 1st may 2017, the FA have stated no major amendments to the regulations which are set to be made.
                        </p>
                        </div>

                        <h1 id="colorred">Education</h1>
                        <h3 class="question" id="color">Is there any education involved?</h3>
                        <div class="answer">
                        <p>
                            Yes, Alpha Football Academy can offer full time education along side the football programme.
                        </p>
                        </div>
                        <h3 class="question" id="color">What education courses can i take?</h3>
                        <div class="answer">
                        <p>
                            There are several courses available to players on the Full Time programme, these include:
                            <strong><h3>Degree in Sport</h3></strong>
                            In association with the world-renowned centre for sporting excellence Loughborough College, the Alpha Football Academy offers the opportunity to study either 
                            a BA (HONS) Sport Management or BSc Sport Coaching degree via blended learning. Both degrees are validated by Nottingham Trent University.<br>
                            <strong><h3>BTEC Level 3 Extended Diploma in Sport (Development, Coaching and Fitness)</h3></strong>
                            This qualification is in association with the world-renowned centre for sporting excellence <strong>Loughborough College.</strong><br>
                            <strong><h3>English Language</h3></strong>
                            We are linked with Stamford Academy, a specialist English Language centre based in Stamford, to offer a General English course for players seeking to improve 
                            their English language skills, whilst studying towards an internationally-recognised Cambridge ESOL English Language exam.
                        </p>
                        </div>

                        <h3 class="question" id="color">What are the entry requirements?</h3>
                        <div class="answer">
                        <p>
                            Many of our Educational course have specific Entry Requirements:<br>

                            <strong><h3>BA (HONS) Sport Management or BSc Sport Coaching degree</h3></strong>
                            72 UCAS points, including GCSE English and Maths (Level 4 or above)<br><br>
                            <strong><h3>BTEC Level 3 Extended Diploma in Sport (Development, Coaching and Fitness)</h3></strong>
                            Students studying a BTEC Extended Diploma programme should normally have achieved 5 GCSE's at Level 4 or above, including English 
                            and Maths, or the equivalent in their own country. Alternatively, students who have studied at Level 2 Diploma/Certificate or a BTEC First Diploma 
                            in a related subject should have achieved at least Merit grades.<br>
                            For those students that do not meet the necessary entry requirements, the Academy can offer the opportunity to study an OCR Level 2 Sports qualification 
                            as an alternative.<br><br>
                            <strong><h3>English Language</h3></strong>
                            This course is open to students of all levels of English language from beginner to advanced.
                        </p>
                        </div>
                        <h3 class="question" id="color">How long are the courses?</h3>
                        <div class="answer">
                        <P>
                            <strong><h3>BA (HONS) Sport Management or BSc Sport Coaching degree</h3></strong>
                            To achieve the full degree, this will take three years.<br><br>
                            <strong><h3>BTEC Level 3 Extended Diploma in Sport (Development, Coaching and Fitness)</h3></strong>
                            To achieve the full BTEC qualification that the Academy offers will take two years.<br><br>
                            <strong><h3>English Language</h3></strong>
                            These are adapted to the student studying the course, as they can be a year long or used as a top up to prepare for an IELTS.
                        </P>
                        </div>
                        <h3 class="question" id="color">Can i take additional AS and A Levels?</h3>
                        <div class="answer">
                        <p>
                            Yes, Alpha Football Academy can offer players the opportunity to take an AS and A Level Business Studies qualification, to support their BTEC Level 3 
                            Extended Diploma in Sport Studies course. The As and A Level in Business Studies qualification is awarded through the AQA Examinations Board.<br>
                            Additional costs are required for students wishing to study either the AS / A Level Business Studies through the Alpha Academy.
                        </p>
                        </div>
                        
                        <h1 id="colorred">Academy Staff</h1>
                        <h3 class="question" id="color">    What is the standard coaching i will receive?</h3>
                        <div class="answer">
                        <p>
                            All coaching sessions and matches are led by our highly qualified UEFA A coaches, with previous experience either playing professionally or managing 
                            English Football League sides.<br>
                            Specialist outfield and goalkeeping sessions, strength and conditioning training and nutritional advice are also provided during your stay.
                        </p>
                        </div>
                        <h3 class="question" id="color">What level of supervision do the players receive?</h3>
                        <div class="answer">
                        <p>
                            The boarding house is staffed 24 hours a day and 7 days a week by our highly experienced and qualified residential team.
                        </p>
                        </div>
                        <h3 class="question" id="color">What if i get injured at the Academy?</h3>
                        <div class="answer">
                        <p>
                            The Academy employs a <strong>full-time qualified physiotherapist</strong> for football injuries, who will be present during players stay. There is a dedicated 
                            medical room at the football centre.<br>
                            Players will be required to provide their own medical insurance and health covers, in case of any emergency or medical treatment they may require whilst staying 
                            at the Alpha Football Academy. This is highly recommended, especially as you will be taking part in physical activities through football.
                        </p>
                        </div>
                        <h1 id="color">Optional Extras</h1>
                        <h3 class="question" id="color">Are airport transfers included?</h3>
                        <div class="answer">
                        <p>
                            No, transport to and from the Alpha Football Academy is the responsibility of the player. We can arrange airport transfers at an additional cost that is dependent on the airport 
                            a player arrives at. Alpha will require the full flight details to allocate a driver.<br>
                        </p>
                        </div>

                        <h1 id="colorred">SHORT COURSES</h1>
                        <h1 id="colorred">Accommodation</h1>
                        <h3 class="question" id="color">Is accommodation included?</h3>
                        <div class="answer">
                        <p>
                            Yes, players will stay at their own exclusive boarding house - <a href="{% url 'accommodation' %}">the Garden House in Stamford.</a>.<br>
                            The Boarding House is in safe surroundings and includes 22 bedrooms all with en - suite facilities, dining room, communal rooms, games room, study centre, conservatory and nearly 
                            an acre of walled gardens.
                        </p>
                        </div>

                        <h3 class="question" id="color">Do players share room?</h3>
                        <div class="answer">
                        <p>
                            Yes - our experienced staff ensures ages and cultures are considered with most rooms having two players. In nearly all circumstances room-mates become friends for life 
                            however if it isn't working out we can swap players around.
                        </p>
                        </div>
                        <h3 class="question" id="color">Is Wi-Fi available at the Garden House?</h3>
                        <div class="answer">
                        <p>
                            Yes, the boarding house offers Wi-Fi.
                        </p>
                        </div>

                        <h3 class="question" id="color">Are there laundry facilities?</h3>
                        <div class="answer">
                        <p>
                            Yes, a laundry room with washing machines, tumble dryers, irons and ironing boards along with washing powder/conditioner will all be 
                            provided, and a member of staff will be on hand to advise.<br>
                            Laundry for all football and training kits, as well as bed linen, will be done by the Academy.
                        </p>
                        </div>
                        <h1 id="colorred">Course Details</h1>
                        <h3 class="question" id="color">Do i need to attend a trial?</h3>
                        <div class="answer">
                        <p> No, players are not required to attend a trial to book a Short Course. Many players use the Short Course to experience day to day life at the 
                        Academy hoping to join the Full-Time course in the future.
                        </p>
                        </div>
                        <h3 class="question" id="color">Where are the Short Course held?</h3>
                        <div class="answer">
                        <p>
                            The Alpha Football Academy is located in Stamford, Lincolnshire in the United Kingdom.<br>
                            The Garden House is situated close to Burghley Park and is just a few minutes stroll from the centre of historic Stamford. Stamford was voted 2nd best place 
                            to live in the 2017 Sunday Times poll.
                        </p>
                        </div>
                        <h3 class="question" id="color">What are the age limits?</h3>
                        <div class="answer">
                        <p>
                            The Short Courses are available for players aged between 16-21 years of age.
                        </p>
                        </div>
                        <h3 class="question" id="color">When should i arrive?</h3>
                        <div class="answer">
                        <p>
                            Arrival for the Short Course is usually on a Sunday between 4pm-6pm at the Garden House. However, this may vary dependent on the arrival date. 
                            please refer to the confirmation pack which will state the arrival time for the relevant Short Course you have booked.<br>
                            Late arrivals are not a problem, but you may miss the evening meal. 
                        </p>
                        </div>
                        <h3 class="question" id="color">How long are Short Courses?</h3>
                        <div class="answer">
                        <p>
                            Short Courses are booked in week long blocks, whilst the Academy is open. Players can choose the length of their stay, from one week to six months.
                        </p>
                        </div>
                        <h3 class="question" id="color">At the end of the course am i guaranteed to be offered a contract at a professional club?</h3>
                        <div class="answer">
                        <p>
                            Unfortunately, the Academy cannot guarantee that a player will find a club as all clubs are seeking different types of players at different times 
                            and we all know how difficult it can be. However, it does happen as Calaum Jaraldo-Martin will testify- he spent two years at the 
                            Academy and joined former Premier League club Hull City!<br>
                            We will guarantee though you will leave us a better player and we will aim to open as many opportunities for you as possible.
                        </p>
                        </div>
                        <h3 class="question" id="color">How do i book a Short Course?</h3>
                        <div class="answer">
                        <p>
                            Click 'Football' along the top banner, then click on the 'Short Courses'. Once there, fill the registration to start your order.<br>
                            Alternatively, you can email info@Alphafootballacademy.com and request for Short Course booking forms. Complete and return them back to us with a copy of 
                            the passport, we will respond to confirm all the details are in order before progressing to the payment.
                        </p>
                        </div>
                        <h3 class="question" id="color">Can i pay on arrival?</h3>
                        <div class="answer">
                        <p>
                            No, all fees will need to be settled 14 days prior to the Short Course commencing. This is due to Alpha having to pre-arrange the accommodation and food for 
                            the duration of the players stay.
                        </p>
                        </div>
                        <h3 class="question" id="color">What if i need to cancel my booking?</h3>
                        <div class="answer">
                        <p>
                            Should you need to cancel your booking, please advise Alpha at least 10 working days before the Short Course. You will be refunded your 
                            booking fee less 25% of the fee to cover the administration costs and bank charges.<br>
                            If you cancel your booking less than 10 working days before the Short Course, we are unable to refund the booking. This is due to Alpha being unable to claim 
                            back the costings for accommodation and food.<br>
                            Alpha will look to transfer players in the first instance, however this is subject to availability.
                        </p>
                        </div>
                        <h1 id="colorred">International Players</h1>
                        <h3 class="question" id="color">I'm from outside the UK, can i still attend the short course?</h3>
                        <div class="answer">
                        <p>
                            Yes, Alpha welcomes players from outside the United Kingdom, however Alpha are not able to help with any travel expenses incured.
                        </p>
                        </div>
                        <h3 class="question" id="color">Are you able to help with my visitor visa application?</h3>
                        <div class="answer">
                        <p>
                            Alpha can provide you with an invitation letter to help obtain a visitor visa should you require. This can only be done once a player has officially booked their place 
                            and sent a copy of their passport to info@Alphafootballacademy.com. Unfortunately, Alpha are not able to contact the embassy on a players behalf, and we always 
                            recommend the player contacts the embassy prior to booking to confirm the process and costs involved.
                        </p>
                        </div>
                        <h3 class="question" id="color">What if my visa is refused by the embassy?</h3>
                        <div class="answer">
                        <p>
                            Should your visa application be rejected, then the Cancellation by player as noted in the terms &amp; conditions will and still apply. 
                            we highly recommend players read through the terms &amp; conditions before their course.
                        </p>
                        </div>
                        <h3 class="question" id="color">What is FIFA International clearance?</h3>
                        <div class="answer">
                        <p>
                            FIFA International Clearance applies to any player over the age of 10 who is seeking to register for a club in England and has previously been 
                            registered for a club abroad (including the other Home Associations), or who is a foreign national seeking to register for the first time in this country.<br>
                            If the player is under age of 18, they are subjected to the provisions of FIFA Article 19. International Clearance is applicable at all levels of the game.<br>
                            <u><h4>Extract of FIFA Article 19 Protection of minors Rule</h4></u>
                            International transfers of players are only permitted if the player is over the age of 18, unless one of the three exceptions apply:<br>
                            <ol>
                                <li>
                                    The player's parents move to the country in which the new club is located for reasons not linked to football.
                                </li>
                                <li>
                                    The transfer takes place within the territory of the EU or EEA and the player is between 16 to 18 years old. If this is the case, the clib must meet FIFA's 
                                    minimum obligations, which includes in England the club competing in the English Football League (which Alpha Stamford do not).
                                </li>
                                <li>
                                    The player lives no further than 50 km from the national border and the club is no further than 100 km away from the player's home.
                                </li>
                            </ol>

                            <u><h4>Work Permits</h4></u>
                            Non-EU citizens who have received International Clearance would still require a work permit visa under Tier 2 and/or Tier 5 to sign a contract with a club in 
                            England that compete at Premier League level down to Step 4 of non-league pyramid. A work permit is not required to play for a club from Step 5 of the non-league 
                            pyramid and below.<br>
                            In order to apply for a Governing Body Endorsement from the FA, an applicant club must hold a Sponsor's Licence under Tier 2 and/or Tier 5 of the PBS and thereby be eligible 
                            to assign Certificates of Sponsorship. To be eligible to become a Sponsor and assign Certificates of Sponsorship, a club must be a member of the Premier League or The 
                            Football League.<br>
                            The FA PBS criteria is due to be updated 1st may 2017, the FA have stated no major amendments to the regulations which are set to be made.
                        </p>
                        </div>

                        <h1 id="colorred">Education</h1>
                        <h3 class="question" id="color">Is there any education involved?</h3>
                        <div class="answer">
                        <p>
                            There is no education involved to attend a Short Course, however players do have an option to study an English language course whilst with the Alpha Football Academy. The additional 
                            cost for this is &pound;200 per week and includes:
                            <ul>
                                <li>English Language Tuition: 15 hours per week</li>
                                <li>English Levels Available: Pre-Intermediate(A2), Intermediate(B1/B2)</li>
                                <li>Class Study Materials: Provided</li>
                            </ul>
                            Home Study Materials: Workbook included in course fee
                        </p>
                        </div>
                    </div>
                        

                         
                        
 
                 </section>
            
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->		
    </section> <!-- end content -->
{% endblock %}