{% extends parent_template|default:"pages/base_pages.html" %}
{% block nav-programs %}
class="current"
{% endblock %}
{% block body_block %}
{% load static %}
<!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>  
                     <div class="primary-content">
 
                         <h1 id="color" class="entry-title add-bottom">FOOTBALL ACADEMIES IN UNITED KINGDOM</h1><hr>
                         <p>
                            We offer the best <strong>high performance football academy</strong> in United Kingdom (Stamford) to 
                            give serious players the chance to train like professionals with <strong>UEFA certified coaches</strong>. 
                            Academy students capitalize on the unique opportunity to combine their academic studies with a <strong>demanding football training program</strong>.
                             Special goalkeeper programs are also available. 
                         </p>

                       <h2 id="tests">ALPHA FOOTBALL ACADEMY UK</h2>
                       <div>
                           <blockquote>
                               WE HELP YOUNG ATHLETES BECOME GREAT FOOTBALLERS AND EVEN BETTER PEOPLE.
                           </blockquote><br>
 
                           The Alpha Football Academy is located in Stamford, England and has been operating for more than 10 years. 
                           Its mission is to help students reach their maximum potential as both athletes and scholars. To achieve this objective, the 
                           academy makes use of the best facilities and the best professionals so that students at the academy can experience 
                           what life is like as professional footballer.
                       </div><br>

                       <h2 id="colorred">PROGRAM OBJECTIVES</h2>
                       <ul id="objective">
                           <li>To prepare footballers (and goalkeepers) to compete professionally in European leagues:<br>
                            <ul>
                                <li>To improve individual techniques</li>
                                <li>To develop tactical consciousness and game comprehension</li>
                                <li>To strenghten physical fitness</li>
                                <li>To understand and effectively employ team tactics and strategy</li> 
                            </ul>
                        </li>
                        <li>To provide the best enviroment to achieve athletic and academic excellence.</li>
                       </ul>

                       <h2 id="prices"><strong>AVAILABLE PROGRAMS</strong></h2>
                       <p>Below is a list of available programs:</p>
                       <div id="program">
                           <h3>FULL-TIME ACADEMIC PROGRAMS</h3>
                           <ul>
                               <li>professional <strong>2-year program</strong></li>
                               <li>1-year program</li>
                               <li>3-6 months program</li>
                               <a href="{% url 'fulltime' %}"><p id="colorred">Read more</p></a>
                           </ul><br>

                           <h3>SHORT-TERM ACADEMIC PROGRAMS</h3>
                           <ul>
                               <li><strong>Weekly programs during the summer</strong></li>
                               <li>Intensive programs during the year</li>
                               <a href="{% url 'short_course' %}"><p id="colorred">Read more</p></a>
                           </ul>

                           <h3>TRIAL DAYS (TRY-OUTS)</h3>
                           <ul>
                               <li>Get scouted by the network that represent football worldwide</li>
                               <li>A full day trial event from 9am to 4pm</li>
                               <a href="{% url 'tryouts' %}"><p id="colorred">Read more</p></a>
                           </ul>
                       </div>

                         
                        <h2 id="prices"><strong>METHODOLOGY OF LONG TERM COURSES</strong></h2>
                       <h3 id="color">Option A:</h3>
                       <p>
                           <strong>Complete student:</strong> Includes training program, full room and board, and an academic study program.<br>

                       </p>
                       <h3 id="color">Option B:</h3>
                       <p>
                           <strong>Day student:</strong> Does not include accomodation. Includes a training program, half-board, and an academic study program.
                       </p>



                       <h2 id="prices"><strong>THE EDUCATION PROGRAM</strong></h2>
                            <p>
                           This Academy believes that academic studies are of upmost importance and works hard to ensure that students develop 
                           as both athlethes and scholars. To accomplish this objective, the academy offers several education options for its students:</p>

                           <div id="remake">
                               <h3><a href="#">BTEC COURSE LEVEL 3 EXTENDED IN SPORT</a></h3>
                                <p>This two- year vocational course teaches sports training and covers subjects such as development, coaching, and fitness. 
                                The course is equivalent to a "grado superior" in the Spanish education system.</p>
                           </div>
                           <div id="remake">
                               <h3><a href="#">A LEVELS</a></h3>
                                <p>Students who don't intend to complete university studies can choose an A level course. These are pre-university courses 
                                (equivalent to the "bachillerato" in the spanish education system) that covers the basic subjects necessary to pass the entrance 
                                exams of universities in England and the USA.</p>
                           </div>

                           <div id="remake">
                                <h3><a href="#">ENGLISH COURSES</a></h3>
                                <p>All students can opt to attend general English classes adapted to their level. Students in the English program attend English 
                                class for three hours a day (witha 30-minute break) from Monday to Friday.</p>
                           </div>
                           <div id="remake">
                           <h3><a href="#">ONLINE EDUCATION</a></h3>
                           <p>
                               Students who want to continue their studies with their usual school can do so through online distance education at the academy.
                         </p>
                         </div>

                       <h2 id="prices"><strong>THE ACADEMY</strong></h2>
                       <p>
                           This academy was founded in 2007 as the <strong>first official high performance football academy in England</strong>. The 
                           project began 7 years earlier in 2000 with the objective to facilitate future employment opportunities for talented footballers. 
                           In 2000, three business partners created a web page where football players could fill out and upload their sports curriculum so that 
                           scouts and trainers could look for candidates according to their teams' specific necessities. From that idea, the Alpa Football 
                           Academy was born.<br>
                           Following the initial success of the idea, these three partners began to organize trials and tryouts in the stadiums of great 
                           English teams such as Arsenal, Chelsea, Newcastle United, Wet Ham United, Reading, Leeds United, etc.<br>
                           These trials united a great numbers of players, clubs, scouts, and of course, sports press; more than 600 players participated, and 
                           more than 75 scouts came to observe. Thanks to the simple brilliant idea of these three businessmen , many players signed professional 
                           contracts. One such example is Chris Smalling who was contracted in 2010 by Manchester United for 10 million pounds.<br>
                           Nowadays, Alpha Football Academy in England is dedicated to helping young footballers achieve their dreams of playing professionally.<br>

                           <div id="images">
                           <img src="{% static 'academy_website/anual_inglaterra1.webp' %}">
                           <img src="{% static 'academy_website/anual_inglaterra2.webp' %}">
                           </div>
                       </p>

                       <h2 id="prices">EX ALUMNI</h2>
                       <p>
                           These are some of the alumni who were trained in this academy:
                       </p>
                       <div><hr>
                           <u><h3>CALAUM JAHRALDO-MARTIN (2009-2011)</h3></u>
                           <img src="{% static 'academy_website/uk_jahraldo-martin.jpg' %}">
                           <p>
                               From Antigua and Barbuda arrived in England, Jahraldo-Martin who spent 2 years in the academy learning everything there is to 
                               know about professional football. Currently, he plays for Hull city in the second division of the English League.
                           </p>
                       </div>
                       <div><hr>
                            <u><h3>EMMANUEL OYELEKE (2009-2010)</h3></u>
                            <img src="{% static 'academy_website/uk_oyeleke.jpg' %}">
                            <p>
                               Another successful case is that of Oyeleke who currently plays for Aldershot Town in the National English League after having 
                               played for various teams on loan.
                            </p>
                        </div>

                        <h2 id="tests">THE STAFF</h2><hr>
                        <p>
                            The academy personel is the most valuable resource that the academy has to offer. The staff, coaches, trainers, and teachers work rigorously 
                            to teach and motivate the players to achieve their goals.
                        </p>
                        <h2 id="tests">COACHES</h2>
                        <p>
                            All coaches at the academy are highly qualified to help young athletes improve their technique, and more importantly, coaches at the academy 
                            are dedicated to developing the athletes' self-confidence.<br>
                            Get to know the coaching staff:
                        </p>
                        <div id="staff">
                            <h2 id="color">ACADEMY DIRCTOR AND HEAD COACH - UEFA COACH- GRANT BROWN</h2>
                            <p>Grant Brown played a powerful defensive force for 18 years in total of 600 matches making him an 
                                experienced expert. He began his professional career with Leceister City but spent most of his years with Lincoln City where 
                                he competed in more than 400 matches during 13 seasons.
                            </p>
                        </div>

                        <div id="staff">
                                <h2 id="color">TALENT RECRUITER AND UEFA B COACH- BEN WATTS</h2>
                                <p>
                                    Ben Watts has a unique backstory; before becoming a professional footballer, he rejected the opportunity to become a professional 
                                    cricket player. He currently possesses a UEFA coaching license and is a level two goalkeeper trainer. As such, Watts is an integral 
                                    part of the academy's goalkeeper training program. He began coaching in the Kettering Town Academy, and then passed through 
                                    Northampton Town Academy and the Peterborough United Academy. His experience coaching at these academies helped him to ultimately 
                                    achieve the UEFA B coaching license.
                                </p>
                        </div>

                        <div id="staff">
                                <h2 id="color">UEFA A COACH AND PREMIER LEAGUE SCOUT - IAN SAMPSON</h2>
                                <p>
                                    Ian Sampson is one of our valuable A licensed UEFA coaches. His experience greatly helps Alpha Football Academy students who dream of 
                                    becoming professional footballers. He began his career in 1990 as the center defender for sunderland. Shortly after, he played for 
                                    Northampton Town where he strengthened his skills during 10 seasons. During one of those 10 seasons, he played on loan for the 
                                    Tottenham Hotspurs.
                                </p>
                        </div>

                        <div id="staff">
                                <h2 id="color">COACH AND PHYSICAL THERAPIST - CHRIS PALMER</h2>
                                <p>
                                    Chris Palmer is a sports therapist and qualified sports masseuse who attended the Medical Center of Excellence in Lilleshall before obtaining 
                                    his title as "Sports Therapist" in Salford University. He has worked in the department of sports injuries, in the rehabilitation centres of 
                                    various professional and semiprofessional teams such as Cambridge City, Luton Town, Norwich City, Kettering Town, Rushen &amp; Diamonds and 
                                    Spalding United. In 2012, Chris was lucky enough to be selected as part of the elite team of sports therapist at the 2012 Olympic Games in London 
                                    and the Commonwealth games in 2014.
                                </p>
                        </div>

                        <div id="staff">
                                <h2 id="color">GOALKEEPER TRAINER - ASHLEY FOULGER</h2>
                                <p>
                                    Ashley Foulger has experienced coaching in both junior teams and professional teams having coached Northampton Town and Kettering Town. 
                                    Foulger has a level 2 license from the English federation and has worked as a coach in many diverse football schools. Since his arrival to 
                                    the academy in 2016, he has been in charge of the organisation and training of goalkeepers.
                                </p>
                        </div>

                        <div id="staff">
                                <h2 id="color">SPORTS THERAPIST - CAROL HOLLAND</h2>
                                <p>
                                    Following an extensive career in the football world as a therapist, Carol Holland became an essential member of the English football academy's 
                                    team of professionals dedicated to maintaining the physical fitness of the players. Physical conditioning is essential to the succes of a 
                                    professional footballer. Holland is always available to resolve any of the players' doubts refarding their fitness regimens and/or to teach 
                                    the players new methods and techniques for taking care of their bodies.
                                </p>
                        </div>


 
                 </section>
            
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->		
    </section> <!-- end content -->
{% endblock %}