{% extends parent_template|default:"pages/base_pages.html" %}
{% block nav-faq %}
class="current"
{% endblock %}
{% block body_block %}
{% load static %}
<!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>  
 
                        
 
                     <div class="primary-content">
 
                         <h1 id="color" class="entry-title add-bottom">TERMS OF USE</h1>	

                         

Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which govern Alpha Football Academy' relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
The use of this website is subject to the following terms of use:
The information contained in this website is for general information purposes only. It is subject to change without notice. The information is provided by Alpha Football Academy and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk and for which we shall not be liable.
In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
From time to time this website may also include links to other websites which are not under our control. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
Every effort is made to keep the website up and running smoothly. However, Alpha Football Academy takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
Your use of this website and any disputes arising of such use is subject to the laws of England and Wales.

                         
                        
 
                 </section>
            
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->		
    </section> <!-- end content -->
{% endblock %}